<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">./tests</directory>
            <exclude>./tests/Base.php</exclude>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>